
/*****************************************
 Shared Colors (Foreground and Background) */


.content, .form, .heading, .footer, .rightfooter  {
    /* Black */
    color: #000;
}

a {
    /* Black */
    color: #000;
    font-weight: bold;
}

a:hover {
    color: #4C85B0;
}


.copyright, .submenu a:hover, .formwhite {
    /* Seashell2 */
    color: #EEE5DE;
}

.submenu, .submenu a, .subtitle {
    /* Dark Blue */
    color: #004581;
}

.colhead, .rightcolhead {
    color: #FFF;
}

.content h2, .caption, .label, .sublabel {
    /* OU Crimson Red */
    color: #900;
}

.content h3 {
    /* black */
    color: #000;
}


html, body, .content {
    /* White */
    background-color: #FFF;
}
 
.colhead, .rightcolhead {
    /* Black */
    background-color: #000;
}

.bg3 {
    /* Seashell2 */
    background-color: #f5f5f5;
}


/***********************************************/



.copyright, .footer, .rightfooter {
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif 
}


.caption {
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
}

.label {
    height: 15px;
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 8pt;
    font-weight: normal; 
}

    	
.form {
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
}

.confirm  {
	color: #090;
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
}
	
.heading {
	font-size: 24px;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
}
    
.bullet, .sublabel {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
    
.quote {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



.blur{
	background: transparent url(/images/shadow1.png);
/*path to the 80%-transparent 1x1pixel black-colored background image*/
	color: inherit;
	margin-left: 4px;
	margin-top: 4px;
}

.shadow,
.framework{
	position: relative;
	bottom: 2px;
	right: 2px;
}


.shadow{
	background: transparent url(/images/shadow2.png);
/*path to the 60%-transparent 1x1pixel black-colored background image*/
	color: inherit;
}

.framework{
border: 1px solid #000;
}

.sep{
border: 1px solid #6B4226;
}


.modmenu{
width: 180;
}

.colhead {
padding: .5em 2ex;
font: normal bold 90% 'Lucida Grande','Trebuchet MS';
}

.colbody {
padding: 3px 2ex;
font: normal normal 90% 'Lucida Grande','Trebuchet MS';
}

.rightcolhead {
font: normal bold 90% 'Lucida Grande','Trebuchet MS';
}

.colhead2 {
    color: #fff;
    background: #000;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    font-family: Verdana, Arial, Helvetica, "sans serif"
}
    
.subtitle{
font: normal bold 150% 'Lucida Grande','Trebuchet MS';
}

.content{
padding: .5em 2ex;
text-align: left;
font: normal normal 90% "Lucida Grande", "Trebuchet MS";
}

.content h2{
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 1em;
}

.float{
width: 1002;
margin-left: auto;
margin-right: auto;
margin-bottom: 1em;
}

.floatshow, .rightbox{
width: 300;
float: right;
margin-left: 1em;
margin-bottom: 1em;
}

.floatbox {
width: 200;
float: right;
margin-left 1em;
margin-bottom: 1em;
}

.fullbox{
margin-right: 1em;
margin-bottom: 1em;
}

html, body {
text-align: center;
}

.footer, .padleft {
padding: .5em 2ex;
text-align: left;
}

.rightfooter, .rightcolhead {
padding: .5em 2ex;
text-align: right;
}

.subhead { 
    color: #800000; 
    font-size: 14px;
    line-height: 16px;
    font-family: Verdana, Arial, Helvetica, "sans serif" }

.nav {
    color: #009;
    font-size: 10px;
    line-height: 12px;
    font-family: Verdana, Arial, Helvetica, "sans serif" }
    
a.nav {
    color: #009;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold; 
    font-family: Verdana, Arial, Helvetica, "sans serif" }
    
a.nav:hover {
    color: #03f;
    background: #ff0;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, "sans serif" }

.overview {
    color:       #000;
    font-weight: bold;
    font-size:   16px;
    line-height: 20px;
    font-family: Verdana, Arial, Helvetica, "sans serif" }

.callout { 
    color: #000; 
    font-size: 14px;
    line-height: 16px;
    font-family: Verdana, Arial, Helvetica, "sans serif" }

div.faderdiv {
  width: 834px;
  height: 16px;
  display: none;
  background: #9fc;
  color: #063;
  font: 10px Verdana,Arial;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #063;
}

.blue-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:14px;
	line-height:14px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
.blue-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
	color: #fff;
}.blue-button:active {
	position:relative;
	top:1px;
}

.green-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2ccf78), color-stop(1, #178c11) );
	background:-moz-linear-gradient( center top, #2ccf78 5%, #178c11 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ccf78', endColorstr='#178c11');
	background-color:#2ccf78;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:14px;
	line-height:14px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2c5704;
}
.green-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #178c11), color-stop(1, #2ccf78) );
	background:-moz-linear-gradient( center top, #178c11 5%, #2ccf78 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#178c11', endColorstr='#2ccf78');
	background-color:#178c11;
	color: #fff;
}.green-button:active {
	position:relative;
	top:1px;
}

.grey-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #ededed 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bdbdbd');
	background-color:#ededed;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#000000;
	font-family:Trebuchet MS;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:14px;
	line-height:14px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.grey-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#ededed');
	background-color:#bdbdbd;
	color:#000;
}.grey-button:active {
	position:relative;
	top:1px;
}

.red-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa9189), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #fa9189 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa9189', endColorstr='#c62d1f');
	background-color:#fa9189;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:14px;
	line-height:14px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.red-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #fa9189) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #fa9189 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#fa9189');
	background-color:#c62d1f;
	color:#fff;
}.red-button:active {
	position:relative;
	top:1px;
}

.help {
    border-bottom: 1px dotted #999;
    cursor: help;
}