.info{
    color: #444444;
    padding: 3px;
}
.error{
    background: #ee0000;
    color: #000000;
    padding: 3px;
}
.warning{
    background: #eeee00;
    color: #000000;
    padding: 3px;
}
.adminbody{
    font-family: 'Lucida Grande','Trebuchet MS','sans-serif';
}
