
/*****************************************
 Shared Colors (Foreground and Background) */


.content, .form, .boxcontent, .colbody, .mbody, .admincontent, .bullet, .addbutton, .talist {
    /* Black */
    color: #000;
}

a {
    /* Black */
    color: #000;
    font-weight: bold;
}

a:hover {
    color: #4C85B0;
}


.copyright, .submenu a:hover, .adminhead, .adminlink a:hover, 
.footer, .rightfooter, .formwhite {
    /* Seashell2 */
    color: #EEE5DE;
}

.adminsubhead, .rightadminsubhead {
    /* White */
    color: #FFF;
}

.submenu, .submenu a, .subtitle, .adminlink, .colhead, .rightcolhead {
    /* Dark Blue */
    color: #004581;
}

.content h2, .caption, .label, .heading, .sublabel, .formred {
    /* OU Crimson Red */
    color: #900;
}

.content h3 {
    /* black */
    color: #000;
}


html, body, .mainbody, .content, .adminbody {
    /* Light Gray */
    background-color: #F5F5F5;
}
 
.colhead, .rightcolhead, .addbutton {
    /* Gold */
    background-color: #FFC621;
}

.modmenu, .adminmenu {
    /* Gray */
    background-color: #C1C1C1;
}
    
.submenu{
    /* Dark Tan */
    background-color: #97694F;
}


.fullbox, .rightbox{
    /* Burly Wood 3 */
    background-color: #CDAA7D;
    /* Semisweet Chocolate 1 */
    border: 4px solid #6B4226;
    padding: .5em 2ex;
    text-align: left;
}


.bg3 {
    /* Seashell2 */
    background-color: #EEE5DE;
}


/***********************************************/



.copyright, .footer, .rightfooter {
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif 
}


.caption {
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
}

.label {
    height: 15px;
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 8pt;
    font-weight: normal; 
}

    	
.form, .addbutton, .formwhite, .formred, .formright {
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
}

.formright {
    text-align: right;
}

.delbutton {
    background-color: #fc9;
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
}

.talist {
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}

.formold, .tilist {
    color: #666;
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
}
	
.confirm  {
	color: #090;
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
}
	
.heading {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
    
.bullet, .sublabel {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.navsep {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color: #fff;
}
    
.quote {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



.blur{
	background: transparent url(/images/shadow1.png);
/*path to the 80%-transparent 1x1pixel black-colored background image*/
	color: inherit;
	margin-left: 4px;
	margin-top: 4px;
}

.shadow,
.framework{
	position: relative;
	bottom: 2px;
	right: 2px;
}


.shadow{
	background: transparent url(/images/shadow2.png);
/*path to the 60%-transparent 1x1pixel black-colored background image*/
	color: inherit;
}

.framework{
border: 1px solid #000;
}

.sep{
border: 1px solid #6B4226;
}


.modmenu{
width: 180;
}

.adminmenu, .colhead, .admincontent, .colhead2 {
padding: .5em 2ex;
font: normal bold 90% 'Lucida Grande','Trebuchet MS';
}

.colbody {
padding: 3px 2ex;
font: normal normal 90% 'Lucida Grande','Trebuchet MS';
}

.mbody {
padding: .5em 2ex;
font: normal normal 90% 'Lucida Grande','Trebuchet MS';
}

.rightcolhead {
font: normal bold 90% 'Lucida Grande','Trebuchet MS';
}

.submenu{
margin-top: 0;
font: normal bold 90% 'Lucida Grande','Trebuchet MS';
padding: .5em 2ex;
text-align: left;
}


.subtitle{
font: normal bold 150% 'Lucida Grande','Trebuchet MS';
}

.adminsubhead, .rightadminsubhead {
font: normal bold 110% 'Lucida Grande','Trebuchet MS';
}

.adminhead{
font: normal bold 200% 'Lucida Grande','Trebuchet MS';
}

.content{
padding: .5em 2ex;
text-align: left;
font: normal normal 90% "Lucida Grande", "Trebuchet MS";
}

.content h2{
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 1em;
}

.boxcontent{
margin-top: 0;
font: normal normal 90% 'Lucida Grande','Trebuchet MS';
text-align: left;
}

.float{
width: 1002;
margin-left: auto;
margin-right: auto;
margin-bottom: 1em;
}

.floatshow, .rightbox{
width: 300;
float: right;
margin-left: 1em;
margin-bottom: 1em;
}

.floatbox {
width: 200;
float: right;
margin-left 1em;
margin-bottom: 1em;
}

.fullbox{
margin-right: 1em;
margin-bottom: 1em;
}

html, body {
text-align: center;
}

.adminbody, .footer, .adminhead, .adminsubhead, .padleft {
padding: .5em 2ex;
text-align: left;
}

.rightfooter, .rightadminsubhead, .rightcolhead {
padding: .5em 2ex;
text-align: right;
}

.subhead { 
    color: #800000; 
    font-size: 14px;
    line-height: 16px;
    font-family: Verdana, Arial, Helvetica, "sans serif" }

.nav {
    color: #009;
    font-size: 10px;
    line-height: 12px;
    font-family: Verdana, Arial, Helvetica, "sans serif" }
    
a.nav {
    color: #009;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold; 
    font-family: Verdana, Arial, Helvetica, "sans serif" }
    
a.nav:hover {
    color: #03f;
    background: #ff0;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, "sans serif" }

.overview {
    color:       #c99;
    font-weight: bold;
    font-size:   12px;
    line-height: 16px;
    font-family: Verdana, Arial, Helvetica, "sans serif" }

.callout { 
    color: #000; 
    font-size: 14px;
    line-height: 16px;
    font-family: Verdana, Arial, Helvetica, "sans serif" }

div.faderdiv {
  width: 1040px;
  height: 16px;
  display: none;
  background: #9fc;
  color: #063;
  font: 10px Verdana,Arial;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #063;
}

.btn1 a {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #000000;
    display: block;
    height: 2.5em;
    padding: 0 1em;
    width: 5em;       
    text-decoration: none;       
}

.btn_action_red {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #993333), color-stop(1, #d45b5b) );
	background:-moz-linear-gradient( center top, #993333 5%, #d45b5b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#993333', endColorstr='#d45b5b');
	background-color:#993333;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
	height:17px;
	line-height:17px;
	width:104px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.btn_action_red:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d45b5b), color-stop(1, #993333) );
	background:-moz-linear-gradient( center top, #d45b5b 5%, #993333 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d45b5b', endColorstr='#993333');
	background-color:#d45b5b;
	color:#ffffff;
}.btn_action_red:active {
	position:relative;
	top:1px;
}