<html>
<head>
<meta http-equiv="PRAGMA" content="NO-CACHE">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="Generator" content="">
<!--<BASE HREF="http://www.ufmc-music.org/index.html">-->
<title>{{html_title}}</title>
</head>

<BODY leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0"
onLoad="" 
>

<TABLE WIDTH="100%" HEIGHT="100%" BORDER=0 CELLPADDING=0 CELLSPACING=0>

<tr bgcolor="{{color_head1}}"><td valign=top align=left colspan=2>
  <table border=0 cellpadding=0 cellspacing=0 width="100%">
  <tr><td height=80><span class=adminhead>{{app_name}}</span></td></tr>
  </table>
</td></tr>

<tr bgcolor="{{color_head2}}"><td valign=top align=left colspan=2>
  <table border=0 cellspacing=0 cellpadding=0 width="100%">
  <tr><td align=left valign=top width=600 class=adminsubhead>
  &nbsp;&nbsp;&nbsp;{{page_head}}</td>
  <td align=right valign=top class=rightadminsubhead>
  ver {{app_ver}}</td></tr>
  </table>
</td></tr>

<tr><td valign=top align=left width=160 height="100%" bgcolor={{color_bg4}} class=menu>
<img src="{{img_path}}/spacer.gif" border=0 width=160 height=2><br>
<div class=adminmenu>
{{admin_nav_links}}
<br>
<br>
</div>
</td>
<td valign=top align=left width="100%" class=adminbody>
    
<table border=0 cellpadding=0 cellspacing=0 width=840>
<tr><td valign=top align=left width=840 height=28>{{java_fade}}</td></tr>
</table>
    
<!-- Content Starts Here -->
{{page_body}}
<!-- Content Ends Here -->
</td></tr>

<tr><td bgcolor="{{color_head1}}" valign=top align=left colspan=2 height=25>
  <table border=0 cellpadding=0 cellspacing=0 width=100%>
  <tr><td valign=top class=footer>
  {{copyright}}
  </td>
  <td valign=top class=rightfooter>
  {{login_stat}}
  </td></tr>
  </table>
</td></tr>

</TABLE>

{{end_load}}

</body>
</html>

