<html>
<head>
<meta http-equiv="PRAGMA" content="NO-CACHE">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="Generator" content="">
<!--<BASE HREF="http://translate.local/index.html">-->
<title>{{html_title}}</title>
</head>

<BODY leftmargin="10" topmargin="10" rightmargin="10" bottommargin="0"
onLoad="" 
>

<center>
    
<table border=0 cellspacing=0 cellpadding=3 width=802>
    <tr><td valign=top align=left><img src="{{img_path}}/logo1-01.png" border=0 width=93></td>
        <td valign=center align=center class=heading>Linguist Portal</td>
    </tr>
    <tr><td valign=top align=left colspan=2>
        <br>
        <table border=0 cellpadding=1 cellspacing=0 width=796>
            <tr><td valign=top align=left bgcolor="#000000">
                
                <table border=0 cellpadding=2 cellspacing=0 width=794>
                    <tr><td valign=top align=left class=colhead>{{page_head}}</td>
                        <td valign=center align=right class=colhead>{{nav_buttons}}</td></tr>
                    <tr><td valign=top align=left colspan=2 class=bg3>
                        
                        <!-- Content starts here -->
                        {{page_body}}
                        <!-- Content Ends here -->
                        
                    </td></tr>
                    
                </table>
            </td></tr>
        </table>    
        <br>
    </td></tr>
    <tr><td valign=top align=left colspan=2>
        <table border=0 cellpadding=0 cellspacing=0 width=794>
            <tr><td valign=top align=left class=footer width=394>
                {{copyright}}
            </td><td valign=top class=rightfooter>
                {{login_stat}}
            </td></tr>
        </table>
    </td></tr>
</table>

{{end_load}}

</body>
</html>

